<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>AdminX</title>

  <!--icheck-->
  <link href="/static/Oas/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
  <link href="/static/Oas/js/iCheck/skins/square/square.css" rel="stylesheet">
  <link href="/static/Oas/js/iCheck/skins/square/red.css" rel="stylesheet">
  <link href="/static/Oas/js/iCheck/skins/square/blue.css" rel="stylesheet">

  <!--dashboard calendar-->
  <link href="/static/Oas/css/clndr.css" rel="stylesheet">

  <!--Morris Chart CSS -->
  <link rel="stylesheet" href="/static/Oas/js/morris-chart/morris.css">

  <!--common-->
  <link href="/static/Oas/css/style.css" rel="stylesheet">
  <link href="/static/Oas/css/style-responsive.css" rel="stylesheet">
    <!--leftmenu-->
    <link href="/static/Oas/css/stylemenu.css">
    <link href="/static/Oas/css/leftmenu.css">
    {% block head %}

    {% endblock %}


  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side">

        <!--logo and iconic logo start-->
        <div class="logo">
            <a href=""><img src="/static/Oas/images/logo.png" alt=""></a>
        </div>

{#        <div class="logo-icon text-center">#}
{#            <a href="Oas/"><img src="/static/Oas/images/logo_icon.png" alt=""></a>#}
{#        </div>#}
        <!--logo and iconic logo end-->
        {% block page-left %}
        <div class="left-side-inner">
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href=""><i class="fa fa-home"></i> <span>首页</span></a></li>
                <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>主机管理</span></a>
                    <ul class="sub-menu-list">
                        <li><a href="Hmt/task/"> 批量任务</a></li>
                        <li><a href="Hmt/script/"> 编写脚本</a></li>
                        <li><a href="Hmt/group/"> 主机组管理</a></li>

                    </ul>
                </li>
{#                <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>CMDB</span></a>#}
{#                    <ul class="sub-menu-list">#}
{#                        <li><a href="general.html"> General</a></li>#}
{#                        <li><a href="buttons.html"> Buttons</a></li>#}
{#                        <li><a href="tabs-accordions.html"> Tabs & Accordions</a></li>#}
{#                        <li><a href="typography.html"> Typography</a></li>#}
{#                        <li><a href="slider.html"> Slider</a></li>#}
{#                        <li><a href="panels.html"> Panels</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>监控</span></a>#}
{#                    <ul class="sub-menu-list">#}
{#                        <li><a href="grids.html"> Grids</a></li>#}
{#                        <li><a href="gallery.html"> Media Gallery</a></li>#}
{#                        <li><a href="calendar.html"> Calendar</a></li>#}
{#                        <li><a href="tree_view.html"> Tree View</a></li>#}
{#                        <li><a href="nestable.html"> Nestable</a></li>#}
{##}
{#                    </ul>#}
{#                </li>#}
{#                <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>日志管理</span></a>#}
{#                    <ul class="sub-menu-list">#}
{#                        <li><a href="mail.html"> Inbox</a></li>#}
{#                        <li><a href="mail_compose.html"> Compose Mail</a></li>#}
{#                        <li><a href="mail_view.html"> View Mail</a></li>#}
{#                    </ul>#}
{#                </li>#}
{##}
{#                <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>负载均衡</span></a>#}
{#                    <ul class="sub-menu-list">#}
{#                        <li><a href="form_layouts.html"> Form Layouts</a></li>#}
{#                        <li><a href="form_advanced_components.html"> Advanced Components</a></li>#}
{#                        <li><a href="form_wizard.html"> Form Wizards</a></li>#}
{#                        <li><a href="form_validation.html"> Form Validation</a></li>#}
{#                        <li><a href="editors.html"> Editors</a></li>#}
{#                        <li><a href="inline_editors.html"> Inline Editors</a></li>#}
{#                        <li><a href="pickers.html"> Pickers</a></li>#}
{#                        <li><a href="dropzone.html"> Dropzone</a></li>#}
{#                        <li><a href="http://www.weidea.net"> More</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>上线发布</span></a>#}
{#                    <ul class="sub-menu-list">#}
{#                        <li><a href="flot_chart.html"> Flot Charts</a></li>#}
{#                        <li><a href="morris.html"> Morris Charts</a></li>#}
{#                        <li><a href="chartjs.html"> Chartjs</a></li>#}
{#                        <li><a href="c3chart.html"> C3 Charts</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>用户管理</span></a>#}
{#                    <ul class="sub-menu-list">#}
{#                        <li><a href="basic_table.html"> Basic Table</a></li>#}
{#                        <li><a href="dynamic_table.html"> Advanced Table</a></li>#}
{#                        <li><a href="responsive_table.html"> Responsive Table</a></li>#}
{#                        <li><a href="editable_table.html"> Edit Table</a></li>#}
{#                    </ul>#}
{#                </li>#}
{##}
{#                <li class="menu-list"><a href="#"><i class="fa fa-map-marker"></i> <span>DNS</span></a>#}
{#                    <ul class="sub-menu-list">#}
{#                        <li><a href="google_map.html"> Google Map</a></li>#}
{#                        <li><a href="vector_map.html"> Vector Map</a></li>#}
{#                    </ul>#}
{#                </li>#}
            </ul>
            <!--sidebar nav end-->

        </div>
        {%  endblock %}
    </div>
    <!-- left side end-->
    
    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div class="header-section" style="background-color: #49586e">

            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->

            <!--search start-->
{#            <form class="searchform" action="" method="post">#}
{#                <input type="text" class="form-control" name="keyword" placeholder="Search here..." />#}
{#            </form>#}
            <!--search end-->

            <!--notification menu start -->
            <div class="menu-right">
                <ul class="notification-menu">
{#                    <li>#}
{#                      <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">#}
{#                            <img src="/static/Oas/images/photos/user-avatar.png" alt="" />#}
{#                            {{ request.user }}#}
{#                            <span class="caret"></span>#}
{#                        </a>#}
{#                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">#}
{#                            <li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>#}
{#                            <li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>#}
{#                            <li><a href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>#}
{#                        </ul>#}
{#                    </li>#}
                    <li>
                        <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style="background-color: #49586e;color: #b9dff1">
                            <img src="/static/Oas/images/photos/user-avatar.png" alt="" />
                            {{ request.user }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                            <li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>
                            <li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>
                            <li><a href="/logout/"><i class="fa fa-sign-out"></i> Log Out</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!--notification menu end -->

        </div>
        <!-- header section end-->

        <!-- page heading start-->
        {% block page-content %}
        <div class="page-heading">
            <h3>
                Home
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="">Home</a>
                </li>
                <li class="active"> OAS系统 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <h1><a href="/Hmt/task/">主机管理</a></h1>
            <h1><a href="/Hmt/task/">CMDB</a></h1>
            <h1><a href="/Hmt/task/">监控</a></h1>
        </div>
        {%  endblock %}
        <!--body wrapper end-->

        <!--footer section start-->
        <footer style="position: fixed;z-index: 2000">
            联系人：金三十
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/Oas/js/jquery-1.10.2.min.js"></script>
<script src="/static/Oas/js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="/static/Oas/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/Oas/js/bootstrap.min.js"></script>
<script src="/static/Oas/js/modernizr.min.js"></script>
<script src="/static/Oas/js/jquery.nicescroll.js"></script>

<!--easy pie chart-->
<script src="/static/Oas/js/easypiechart/jquery.easypiechart.js"></script>
<script src="/static/Oas/js/easypiechart/easypiechart-init.js"></script>

<!--Sparkline Chart-->
<script src="/static/Oas/js/sparkline/jquery.sparkline.js"></script>
<script src="/static/Oas/js/sparkline/sparkline-init.js"></script>

<!--icheck -->
<script src="/static/Oas/js/iCheck/jquery.icheck.js"></script>
<script src="/static/Oas/js/icheck-init.js"></script>

<!-- jQuery Flot Chart-->
<script src="/static/Oas/js/flot-chart/jquery.flot.js"></script>
<script src="/static/Oas/js/flot-chart/jquery.flot.tooltip.js"></script>
<script src="/static/Oas/js/flot-chart/jquery.flot.resize.js"></script>


<!--Morris Chart-->
<script src="/static/Oas/js/morris-chart/morris.js"></script>
<script src="/static/Oas/js/morris-chart/raphael-min.js"></script>

<!--Calendar-->
<script src="/static/Oas/js/calendar/clndr.js"></script>
<script src="/static/Oas/js/calendar/evnt.calendar.init.js"></script>
<script src="/static/Oas/js/calendar/moment-2.2.1.js"></script>
{#<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>#}

<!--common scripts for all pages-->
<script src="/static/Oas/js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="/static/Oas/js/dashboard-chart-init.js"></script>
<script src="/static/Oas/js/leftmenu.js"></script>
{% block bottom-js %}
{% endblock %}

</body>
</html>
