<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="/static/Oas/css/style.css" rel="stylesheet">
    <link href="/static/Oas/css/style-responsive.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" method="post" action="">
        {% csrf_token %}
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Sign In</h1>
            <img src="/static/Oas/images/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" class="form-control" placeholder="User ID" autofocus name="username">
            <input type="password" class="form-control" placeholder="Password" name="password">
            <div>
            {% if login_error %}
                <p style="color: red">{{ login_error }}</p>
            {% endif %}
        </div>
            <button class="btn btn-lg btn-login btn-block" type="submit">
                <i class="fa fa-check"></i>
            </button>

{#            <div class="registration">#}
{#                Not a member yet?#}
{#                <a class="" href="registration.html">#}
{#                    Signup#}
{#                </a>#}
{#            </div>#}

        </div>

    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="/static/Oas/js/jquery-1.10.2.min.js"></script>
<script src="/static/Oas/js/bootstrap.min.js"></script>
<script src="/static/Oas/js/modernizr.min.js"></script>

</body>
</html>
